html {background-image: url("../Memories/images/IMG-20221010-WA0003.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
image-rendering: optimizeQuality;
background-size: 100%;
background-position: 50%50%;}


h1 {text-align: center;
  color: darkslategray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 60px;
  background: rgb(128,152,228);
  background: radial-gradient(circle, rgba(128,152,228,1) 21%, rgba(0,41,54,1) 95%);
  color: white;
  font-size: 30px;}
  
  
p {font-size: x-large;
  text-align: center;
color: black;
-webkit-text-stroke: 1px #000000;
	text-shadow: -1px 1px 2px #000000,
1px 1px 2px #23430C,
1px -1px 0 #ffffff,
-1px -1px 0 #f0ff68;;
margin-top: -3px;}

img[src*="212642"] {width: 600px;
      display: block;
      margin: 0 auto;
      border: 5px solid burlywood;}


.images {width: 250px;
    display: block;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    border: 8px solid rgb(170,169,184);
    border: linear-gradient(90deg, rgba(170,169,184,1) 0%, rgba(91,166,80,1) 53%, rgba(104,129,156,1) 84%);}


.images:hover {width: 600px;
  display: block;
  margin: 0 auto;
  border: 8px solid rgb(170,169,184);
  border: linear-gradient(90deg, rgba(170,169,184,1) 0%, rgba(91,166,80,1) 53%, rgba(104,129,156,1) 84%);}


#top {height:150px;
  border-radius: 50%;
  width: 150px;
  border: #000000 10px;
  object-fit: contain;
  padding-left: 0px;
  margin-bottom: -181px;}